<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META TAGS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="My cooking Hub is an online cookbook website where the users can create and view recipes">
    <!-- TITLE TAG -->
    <title>My Cooking Hub</title>
    <!-- LINK TAGS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <!-- SCRIPT TAGS -->
     <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>

    <!-- BANNER START -->
    <div class="banner">

    </div>
    <!-- BANNER END -->
    
    <!-- HEADER SECTION START -->
    <header class="header-wrapper">
        <!-- Logo -->
        <a href="{{ url_for('home') }}" class="logo"><i class="fa-solid fa-utensils"></i> My Cooking Hub</a>
        <!-- Navbar start  -->
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('view_my_recipes') }}">View My Recipes</a></li>
                <li><a href="{{ url_for('create_new_recipe') }}">Create New Recipe</a></li>
                <li><a href="{{ url_for('home') }}">View All Recipes</a></li>
                <li><a href="{{ url_for('home') }}">My Account</a></li>
            </ul>

            <!-- Nav Buttons Wrapper Start -->
            <div class="nav-btns-wrapper">
                <a class="btn btn-med" href="#"><i class="fa-solid fa-user"></i>Create Account</a>
                <a class="btn btn-med" href="#"><i class="fa-solid fa-user-plus"></i>Sign Up</a>
            </div>
            <!-- Nav Buttons Wrapper End -->
        </nav>
         <!-- Navbar end -->

         <!-- Nav Icon Buttons Wrapper Start -->
        <div id="icon-nav-wrapper" class="nav-btns-wrapper">
            <a class="std-icon-btn" href="#"><i class="fa-solid fa-user"></i></a>
            <a class="std-icon-btn" href="#"><i class="fa-solid fa-user-plus"></i></a>
            <a class="std-icon-btn" href="#"><i class="fa-solid fa-bars"></i></a>
        </div>
         <!-- Nav Icon Buttons Wrapper End -->
    </header>
    <!-- HEADER SECTION END -->

    <!-- MAIN SECTION START -->
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <!-- MAIN SECTION END -->

    <!-- FOOTER SECTION START -->
    <footer class="footer-wrapper">
        <!-- Shape divider -->
        <div class="custom-shape-divider-top-footer">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
            </svg>
        </div>

        <!-- Footer Top Wrapper -->
        <div class="footer-top-wrapper">
            <div class="footer-top-inner-wrapper">
                <!-- Logo -->
                <a href="{{ url_for('home') }}" class="logo footer-logo"><i class="fa-solid fa-utensils"></i> My Cooking Hub</a>
                <!-- Social buttons layout -->
                <div class="social-btns-layout">
                    <a href="#" class="social-media-btn tooltip" data-title="Facebook" aria-label="Link to facebook">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="#" class="social-media-btn tooltip" data-title="Instagram" aria-label="Link to instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="#" class="social-media-btn tooltip" data-title="Twitter" aria-label="Link to twitter">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="#" class="social-media-btn tooltip" data-title="Youtube" aria-label="Link to youtube">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </div>
            </div>
            <!-- Seperator -->
             <div class="seperator"></div>
        </div>
        <!-- Footer Middle Wrapper -->
        <div class="footer-middle-wrapper"> 

            <div class="footer-card">
                <h3>About Us</h3>
                <div class="footer-seperator"></div>
                <p>
                    My Cooking Hub has been created to allow its users the ability to build there own 
                    recipe portfolio. Users can create there recipes and store them for use when needed.
                    Need some inspiration? No problem.
                    View others users recipes for some creative inspiration!
                </p>
            </div>
            <div class="footer-card">
                <h3>Social Links</h3>
                <div class="footer-seperator"></div>
                <a class="footer-link" href="#"><i class="fa-brands fa-facebook"></i>Facebook</a>
                <a class="footer-link" href="#"><i class="fa-brands fa-instagram"></i>Instagram</a>
                <a class="footer-link" href="#"><i class="fa-brands fa-twitter"></i>Twitter</a>
                <a class="footer-link" href="#"><i class="fa-brands fa-youtube"></i>Youtube</a>
            </div>
            <div class="footer-card">
                <h3>Useful Links</h3>
                <div class="footer-seperator"></div>
                <a class="footer-link" href="{{ url_for('home') }}"><i class="fa-solid fa-home"></i>Home</a>
                <a class="footer-link" href="{{ url_for('view_my_recipes') }}"><i class="fa-solid fa-table-columns"></i>View My Recipes</a>
                <a class="footer-link" href="{{ url_for('create_new_recipe') }}"><i class="fa-solid fa-table-columns"></i>Create New Recipe</a>
                <a class="footer-link" href="#"><i class="fa-solid fa-table-columns"></i>View All Recipes</a>
                <a class="footer-link" href="#"><i class="fa-solid fa-file-invoice"></i>My Account</a>
            </div>
            <div class="footer-card">
                <h3>Subscribe</h3>
                <div class="footer-seperator"></div>
                <p>
                    Subscribe to our newsletter to recieve the latest updates! 
                </p>
                <div class="subscribe-wrapper">
                    <input type="text" placeholder="Enter Email:">
                    <button type="submit">Subscribe</button>
                </div>
            </div>

        </div>
        <!-- Footer Bottom Wrapper -->
        <div class="footer-bottom-wrapper">
            <p>&copy; All rights reserved Craig Gent</p>
        </div>

    </footer>
    <!-- FOOTER SECTION END -->

</body>
</html>