<!-- 
HERO TEMPLATE: ADD ALL MARKUP FOR THE HERO SECTION HERE!!
-->

<section class="hero-wrapper">
    <!-- -->
    <div class="custom-shape-divider-bottom-1719238147">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>
    <!-- Overlay wrapper -->
    <div class="hero-overlay-wrapper">
        <!-- Hero content wrapper -->
         <div class="hero-content-wrapper">
            <h1 class="header-tone-one">
                Welcome To <br>
                <span  class="header-tone-two">
                    My Cooking Hub
                </span>
            </h1>
            <p>
                Welcome to My Cookbook Hub. Join us and start building your personal cook book.
                Create and re-use all your favourite recipes at the click of a button. 
                View other peoples amazing recipies.
            </p>
            <a class="btn btn-lg" href="#">Get Started<i class="fa-solid fa-arrow-right"></i></a>
         </div>
    </div>
    
</section>