<!-- 
HERO TEMPLATE: ADD ALL MARKUP FOR THE HERO SECTION HERE!!
-->

<section class="hero-wrapper">
    <!-- Img -->
    <img class="cover-img" src="https://images.pexels.com/photos/1099680/pexels-photo-1099680.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Main Image">
    <!-- Overlay wrapper -->
    <div class="hero-overlay-wrapper">
        <!-- Hero content wrapper -->
         <div class="hero-content-wrapper">
            <h1 class="header-tone-one">
                Welcome To <br>
                <span  class="header-tone-two">
                    My Cooking Hub
                </span>
            </h1>
            <p>
                Welcome to My Cookbook Hub. Join us and start building your personal cook book.
                Create and re-use all your favourite recipes at the click of a button. 
                View other peoples amazing recipies.
            </p>
            <a class="hero-btn" href="#">Get Started <i class="fa-solid fa-arrow-right"></i></a>
         </div>
    </div>
    
</section>