<!-- 
CREATE NEW RECIPE TEMPLATE
-->

{% extends "base/base_temp.html" %}
<!-- Main block: Add all content inside here -->
{% block content %}
    <!-- Banner Start -->
    <section class="banner">
        <!-- Img -->
        <img class="cover-img" src="https://images.pexels.com/photos/1199960/pexels-photo-1199960.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Banner Image">
        <!-- Overlay -->
        <div class="banner-overlay">
            <div class="banner-content">
                <h1 class="header-tone-one">
                    Create <span  class="header-tone-two">New Recipe</span>
                </h1>
                <p>
                    Put all your great ideas into one place! 
                    Add your wonderful recipes here!!
                </p>
            </div>
        </div>
    </section>
    <!-- Banner End -->
     
{% endblock %}