<!-- 
VIEW MY RECIPES TEMPLATE
-->

{% extends "base/base_temp.html" %}
<!-- Main block: Add all content inside here -->
{% block content %}
    <!-- Banner Start -->
    <section class="banner">
        <!-- Img -->
        <img class="cover-img" src="https://images.pexels.com/photos/1603901/pexels-photo-1603901.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Banner Image">
        <!-- Overlay -->
        <div class="banner-overlay">
            <div class="banner-content">
                <h1 class="header-tone-one">
                    View <span  class="header-tone-two">My Recipes</span>
                </h1>
                <p>
                    View a list of your personal recipes!
                </p>
            </div>
        </div>
    </section>
    <!-- Banner End -->
     
{% endblock %}