/* MAIN STYLING FILE: ALL STYLING FOR THE WEBSITE IS IN THIS FILE */

/* ##### ROOT CSS VARIABLES ##### */
:root {
    /* Colors */
    --bg-one-clr: #343336;
    --bg-two-clr: #2c2a2e;
    --bg-three-clr: #19191b;
    --bg-four-clr: #0f0f11;
    --bg-five-clr: #e2dfe7;
    --fg-one-clr: #e2dfe7;
    --fg-two-clr: #c9c3d2;
    --fg-three-clr: #19191b;
    --primary-one-clr: #274cf5;
    --primary-two-clr: #5574fc;
    --btn-one-bg-clr: #274cf5;
    --btn-one-bg-hover-clr: #5574fc;
    --btn-one-fg-clr: #e2dfe7;
    --btn-two-border-clr: #c9c3d2;
    --btn-two-fg-clr: #c9c3d2;
    --btn-two-fg-hover-clr: #19191b;
    --btn-two-bg-clr: #c9c3d2;
    --seperator-clr: #c9c3d2;
    
    /* Global Variables */
    --base-transition: all 0.8s ease-out 0.3s;
    --base-radius: 5px;
}

/* ##### GLOBAL STYLING: ADD ALL GLOBAL STYLING BELOW HERE!! ##### */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, sans-serif;
    font-size: 1rem;
}
body {
    background: var(--bg-one-clr);
    color: var(--fg-one-clr);
}
img {
    max-width: 100%;
    display: block;
}
.cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

/* ##### HEADER STYLING: ADD ALL HEADER STYLING BELOW HERE!! ##### */

/* Header Wrapper */
.header-wrapper {
    width: 100%;
    height: 60px;
    min-height: 60px;
    position: sticky;
    top: 0px;
    z-index: 99999;
    background: var(--bg-two-clr);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}
/* Main Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: var(--fg-one-clr);
}
.logo i {
    color: var(--primary-one-clr);
}
/* Main Nav Bar */
.main-nav {
    display: none;
    gap: 1.2rem;
}
.main-nav ul {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.main-nav ul li a {
    color: var(--fg-two-clr);
    position: relative;
}
.main-nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: var(--primary-one-clr);
    transition: var(--base-transition);
}
.main-nav ul li a:hover::after {
    width: 100%;
}
/* Nav buttons wrapper */
.nav-btns-wrapper {
    display: none;
    align-items: center;
    gap: 0.5rem;
}
/* Icon nav wrapper */
#icon-nav-wrapper {
    display: flex;
}
/* Nav Button */
.nav-btn {
    height: 35px;
    border: 2px solid var(--btn-two-border-clr);
    color: var(--btn-two-fg-clr);
    border-radius: var(--base-radius);
    font-size: 0.9rem;
}
.nav-btn:hover {
    background: var(--btn-two-bg-clr);
    color: var(--btn-two-fg-hover-clr);
}

/* ##### HERO SECTION STYLING: ADD ALL HERO SECTION STYLING BELOW HERE!! ##### */

/* Hero  wrapper */
.hero-wrapper {
    width: 100%;
    height: 80vh;
    display: block;
    overflow: hidden;
    position: relative;
}
/* Hero Overlay */
.hero-overlay-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #19191b, #19191b90);
    display: block;
}
/* Hero content wrapper */
.hero-content-wrapper {
    width: 100%;
    height: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
/* Hero Header Text */
.header-tone-one,
.header-tone-two {
    font-size: 2.4rem;
}
.header-tone-two {
    color: var(--primary-one-clr);
}
/* Hero Button */
.hero-btn {
    width: 180px;
    height: 45px;
    border-radius: var(--base-radius);
    background-color: var(--btn-one-bg-clr);
    color: var(--btn-one-fg-clr);
    justify-content: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: var(--base-transition);
}
.hero-btn:hover {
    background-color: var(--btn-one-bg-hover-clr);
}

/* ##### FOOTER STYLING: ADD ALL FOOTER STYLING BELOW HERE!! ##### */

/* Footer wrapper */
.footer-wrapper {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--bg-three-clr) 55%, var(--bg-two-clr));
    display: flex;
    flex-direction: column;
}
/* Footer top wrapper */
.footer-top-wrapper {
    width: 100%;
    padding: 0 1%;
}
/* Footer top inner wrapper */
.footer-top-inner-wrapper {
    width: 100%;
    padding: 1% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
/* Social buttons layout */
.social-btns-layout {
    display: flex;
    gap: 0.5rem;
}
/* Footer middle wrapper */
.footer-middle-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    padding: 1%;
}
/* Footer bottom wrapper */
.footer-bottom-wrapper {
    width: 100%;
    height: 40px;
    background-color: var(--bg-four-clr);
    display: grid;
    place-items: center;
}
.footer-bottom-wrapper p {
    font-size: 0.8rem;
}
/* Footer card */
.footer-card {
    width: 290px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    text-align: center;
}
.footer-card p {
    font-size: 0.9rem;
}
/* Subscribe wrapper */
.subscribe-wrapper {
    width: 100%;
    height: 45px;
    background-color: var(--bg-five-clr);
    border-radius: var(--base-radius);
    padding: 2px;
    display: flex;
    transition: var(--base-transition);
}
.subscribe-wrapper input {
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--fg-three-clr);
    font-size: 0.9rem;
    width: 100%;
    padding-left: 0.4rem;
}
.subscribe-wrapper button {
    cursor: pointer;
    border: none;
    padding: 0 0.3rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: var(--base-transition);
    background-color: var(--btn-one-bg-clr);
    color: var(--btn-one-fg-clr);
    border-radius: var(--base-radius);
    font-size: 0.9rem;
}
.subscribe-wrapper button:hover {
    background-color: var(--btn-one-bg-hover-clr);
}


/* ##### UI COMPONENTS STYLING: ADD ALL UI COMPONENT STYLING BELOW HERE!! ##### */

/* Seperator */
.seperator {
    width: 100%;
    height: 1px;
    background-color: var(--seperator-clr);
}

/* Footer Seperator */
.footer-seperator {
    width: 50%;
    height: 1px;
    background-color: var(--primary-one-clr);
}

/* Std Button */
.std-btn {
    cursor: pointer;
    outline: none;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: var(--base-transition);
}
/* Std Icon Button */
.std-icon-btn {
    height: 30px;
    width: 30px;
    border-radius: var(--base-radius);
    color: var(--btn-two-fg-clr);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: var(--base-transition);
}
.std-icon-btn:hover {
    background-color: var(--btn-two-bg-clr);
    color: var(--btn-two-fg-hover-clr);
}

/* Social media button */
.social-media-btn {
    width: 30px;
    height: 30px;
    border: 2px solid var(--btn-two-border-clr);
    color: var(--btn-two-fg-clr);
    border-radius: 100vh;
    display: grid;
    place-items: center;
    transition: var(--base-transition);
}
.social-media-btn:hover {
    border: 2px solid var(--primary-one-clr);
    box-shadow: 0px 0px 7px var(--primary-one-clr);
    color: var(--primary-one-clr);
}

/* Footer Link */
.footer-link {
    color: var(--fg-two-clr);
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    transition: var(--base-transition);
}
.footer-link:hover {
    color: var(--primary-two-clr);
}
.footer-link i {
    color: var(--primary-one-clr);
}

/* Tooltip */
.tooltip {
    position: relative;
}
.tooltip::before {
    content: attr(data-title);
    height: 30px;
    width: auto;
    padding: 0 0.6rem;
    font-size: 0.8rem;
    background-color: var(--bg-four-clr);
    border-radius: var(--base-radius);
    border: 1px solid var(--bg-one-clr);
    box-shadow: 2px 2px 6px var(--bg-three-clr);
    color: var(--fg-one-clr);
    text-wrap: nowrap;
    display: grid;
    place-items: center;
    transition: opacity 1s;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-100%, 110%);
}
.tooltip:hover::before {
    opacity: 1;
}







/* ##### MEDIA QUERIES: ADD ALL MEDIA QUERIES BELOW HERE!! ##### */

/* Media queries with a min width greater than 860px */
@media all and (min-width: 860px) {
    /* Icon nav wrapper */
    #icon-nav-wrapper {
        display: none;
    }
    /* Main Nav Bar */
    .main-nav {
        display: flex;
    }
    /* Footer middle wrapper */
    .footer-middle-wrapper {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Media queries with a min width greater than 1260px */
@media all and (min-width: 1260px) {
    /* Nav buttons wrapper */
    .nav-btns-wrapper {
        display: flex;
    }
    /* Hero Overlay */
    .hero-overlay-wrapper {
        background: linear-gradient(to right, #19191b 30%, #ffffff00);
    }
    /* Hero content wrapper */
    .hero-content-wrapper {
        padding-top: 10%;
        width: 30%;
    }
    /* Footer middle wrapper */
    .footer-middle-wrapper {
        grid-template-rows: none;
        grid-template-columns: repeat(4, 1fr);
        padding: 2% 10%;
        place-items: center;
    }
    /* Footer top inner wrapper */
    .footer-top-inner-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }
    /* Footer card */
    .footer-card {
        text-align: left;
        place-items: start;
    }
}